<a href="https://colab.research.google.com/github/smilesrgouveia/Aula/blob/main/PL_Python_4_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# 4 Estudos de Caso de Análise de Dados I
Professores: *Diego Nogare* & *Rogério de Oliveira* 

<br>
<br>

---

# Exercícios

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# WHO Worl Health Organization

Os dados abaixo foram obtidos diretamente da Organização Mundial de Saúde. Empregue os dados de 2015 já selecionados abaixo para responder as perguntas.

In [2]:
WHO = pd.read_csv('https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/Life_Expectancy_Data.csv')
WHO.rename(columns={' BMI ':'BMI', 'Life expectancy ':'Life_expectancy'}, inplace=True)
WHO = WHO[ WHO.Year == 2015 ]
WHO.head()

                Country  Year  ... Income composition of resources  Schooling
0           Afghanistan  2015  ...                           0.479       10.1
16              Albania  2015  ...                           0.762       14.2
32              Algeria  2015  ...                           0.743       14.4
48               Angola  2015  ...                           0.531       11.4
64  Antigua and Barbuda  2015  ...                           0.784       13.9

[5 rows x 22 columns]

# Qualidade dos Dados

Verifique a Qualidade dos Dados. Quantos atributos apresentam dados ausentes a qual atributo tem o maior percentual de dados ausentes?

In [4]:
# Seu código

print(WHO.isnull().sum())
print(WHO.describe())

Country                              0
Year                                 0
Status                               0
Life_expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            177
percentage expenditure               0
Hepatitis B                          9
Measles                              0
BMI                                  2
under-five deaths                    0
Polio                                0
Total expenditure                  181
Diphtheria                           0
 HIV/AIDS                            0
GDP                                 29
Population                          41
 thinness  1-19 years                2
 thinness 5-9 years                  2
Income composition of resources     10
Schooling                           10
dtype: int64
         Year  Life_expectancy  ...  Income composition of resources   Schooling
count   183.0       183.000000  ...                       173.000000  173.000000
mean   2015.0        71.616940  ...                         0.691740   12.927168
std       0.0         8.123706  ...                         0.153412    2.912366
min    2015.0        51.000000  ...                         0.347000    4.900000
25%    2015.0        65.750000  ...                         0.565000   10.800000
50%    2015.0        73.900000  ...                         0.723000   13.100000
75%    2015.0        76.950000  ...                         0.798000   15.000000
max    2015.0        88.000000  ...                         0.948000   20.400000

[8 rows x 20 columns]

# Qualidade dos Dados

Alguns países estão classificados como países *em desenvolvimento* e parecem destoar do nosso entendimento geral de países *desenvolvidos $\times$ em desenvolvimento*. Quais dois países parecem se enquadrar neste caso?

(Dica: verifique os países em desenvolvimento que apresentam um GDP que discrepante dos demais)

In [16]:
# Seu código
desenv = WHO [ (WHO.Status == 'Developing') ]

desenv.loc[desenv.GDP.nlargest(5).index][ [ 'Country', 'GDP', 'Status']]

     Country          GDP      Status
2071   Qatar  66346.52267  Developing
496   Canada  43315.74400  Developing
930   France  36526.77110  Developing
1266  Israel  35729.37253  Developing
1394  Kuwait  28975.41800  Developing

In [17]:
desenv.loc[desenv.GDP.nsmallest(5).index][ [ 'Country', 'GDP', 'Status']]

         Country        GDP      Status
416      Burundi  33.681223  Developing
1554  Madagascar  41.857595  Developing
144   Azerbaijan  55.313820  Developing
2007        Peru  63.343259  Developing
2151      Rwanda  71.348397  Developing

# Distribuição dos Dados

Analise a Distribuição da Expectativa de Vida entre os países Desenvolvidos e em Desenvolvimento. O que você consegue afirmar sobre essas distribuições?

In [18]:
# Seu código

desenvolvimento = WHO [ (WHO.Status == 'Developing') ]
desenvolvido = WHO [ (WHO.Status == 'Developed') ]

# Relações

Quais índices aparecem como mais correlacionados a Expectativa de Vida dos países em Desenvolvimento?

In [ ]:
# Seu código

# Ranking

Qual a posição do Brasil no Ranking de Escolaridade (`Schooling`) com relação aos demais países?

In [ ]:
# Seu código